@model IEnumerable<Ashion.Models.EF.ProductCategory>
@if (Model != null && Model.Any())
{
    <div class="categories__accordion">
        <div class="accordion" id="accordionExample">
            @foreach (var item in Model)
            {
                if (ViewBag.CateId == item.Id)
                {
                    <div class="card-heading active">
                        <a href="/danh-muc-san-pham/@item.Alias-@(item.Id)">@item.Title</a>
                    </div>
                    <div class="collapse" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                                <li><a href="#">Coats</a></li>
                                <li><a href="#">Jackets</a></li>
                                <li><a href="#">Dresses</a></li>
                                <li><a href="#">Shirts</a></li>
                                <li><a href="#">T-shirts</a></li>
                                <li><a href="#">Jeans</a></li>
                            </ul>
                        </div>
                    </div>
                
                }
                else
                {
                    <div class="card">
                        <div class="card-heading">
                            <a href="/danh-muc-san-pham/@item.Alias-@(item.Id)">@item.Title</a>
                        </div>
                        <div class="collapse" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul>
                                    <li><a href="#">Coats</a></li>
                                    <li><a href="#">Jackets</a></li>
                                    <li><a href="#">Dresses</a></li>
                                    <li><a href="#">Shirts</a></li>
                                    <li><a href="#">T-shirts</a></li>
                                    <li><a href="#">Jeans</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }

            }
            @*<div class="card">
            <div class="card-heading active">
                <a data-toggle="collapse" data-target="#collapseOne">Women</a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li><a href="#">Coats</a></li>
                        <li><a href="#">Jackets</a></li>
                        <li><a href="#">Dresses</a></li>
                        <li><a href="#">Shirts</a></li>
                        <li><a href="#">T-shirts</a></li>
                        <li><a href="#">Jeans</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-heading">
                <a data-toggle="collapse" data-target="#collapseTwo">Men</a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li><a href="#">Coats</a></li>
                        <li><a href="#">Jackets</a></li>
                        <li><a href="#">Dresses</a></li>
                        <li><a href="#">Shirts</a></li>
                        <li><a href="#">T-shirts</a></li>
                        <li><a href="#">Jeans</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-heading">
                <a data-toggle="collapse" data-target="#collapseThree">Kids</a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li><a href="#">Coats</a></li>
                        <li><a href="#">Jackets</a></li>
                        <li><a href="#">Dresses</a></li>
                        <li><a href="#">Shirts</a></li>
                        <li><a href="#">T-shirts</a></li>
                        <li><a href="#">Jeans</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-heading">
                <a data-toggle="collapse" data-target="#collapseFour">Accessories</a>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li><a href="#">Coats</a></li>
                        <li><a href="#">Jackets</a></li>
                        <li><a href="#">Dresses</a></li>
                        <li><a href="#">Shirts</a></li>
                        <li><a href="#">T-shirts</a></li>
                        <li><a href="#">Jeans</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-heading">
                <a data-toggle="collapse" data-target="#collapseFive">Cosmetic</a>
            </div>
            <div id="collapseFive" class="collapse" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li><a href="#">Coats</a></li>
                        <li><a href="#">Jackets</a></li>
                        <li><a href="#">Dresses</a></li>
                        <li><a href="#">Shirts</a></li>
                        <li><a href="#">T-shirts</a></li>
                        <li><a href="#">Jeans</a></li>
                    </ul>
                </div>
            </div>
        </div>*@
        </div>
    </div>
}
